.fixed_header {
    width: 100%;
    border: 1px solid #ccc;
}

.fixed_header thead,
.fixed_header tbody,
.fixed_header tr,
.fixed_header td,
.fixed_header th { display: block; }

.fixed_header tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

.fixed_header thead th {
    /*height: 30px;*/

    /*text-align: left;*/
}

.fixed_header tbody {
    height: 400px;
    overflow-y: auto;
}

.fixed_header thead {
    /* fallback */
}


.fixed_header tbody td, 
.fixed_header thead th {
    width: 25%;
    float: left;
}