.img-list {
  margin: 0;
  padding: 0;
  text-align: center;
}

.img-list li, .slider li {
  display: inline-block;
  list-style: none;
}

.slider li{
	padding: 0 5px;
}

.slider a{
	color: white;
	text-decoration: none;
}

.img-list img {
  width: 320px;
  max-width: 100%;
  height: 180px;
  padding: 5px 5px;
}

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 25px 0;
  display: none;
  overflow-y: auto;
}

.overlay {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.95);
}

.lightbox figure {
  margin: 0 auto;
  z-index: 100;
  width: 80%;
  max-width: 800px;
}


.next, .prev {
  color:#fff;
  margin: 15px 10px;
  cursor: pointer;
}

.prev {
  left: 0;
}
