block{
    margin :20px 20px 20px 20px;
    padding: 20px 20px 20px 20px;
}
div{
    margin :20px 20px 20px 20px;
    padding: 20px 20px 20px 20px;
}
div .block{
    margin :20px 20px 20px 20px;
    padding: 20px 20px 20px 20px;
}