.parent {
    padding: 15 px 0;
    background: #6699FF;
}
.parent ul {
    text-align: center;
}
.parent li {
    display: inline;
    margin-left: 20px;
}
.parent a {
    color: #fff;
}
.parent li:first-child, li.first-child {
    margin: 0; /* убираем отступ у первого элемента, чтобы было действительно по середине */
}
* html .parent li {
    z-index: 1
}